/*----------------------------------------------------------------------------
    Reset
----------------------------------------------------------------------------*/

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/*------------------------------------------------------------------------------
   Base
------------------------------------------------------------------------------*/

body {
    background-image: url(../images/fond/global.png);
    font: normal 400 1.6rem "Oranienbaum", serif;
    color: white;
    background-color: black;

    background-attachment: fixed;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: darkorange;
}

header, section{
    height: 100vh;
}


h1{
    font-family: "Monoton", sans-serif;
    font-size: 10rem;
    font-weight: 100;
}

h2{
    font-family: "Monoton", sans-serif;
    font-size: 3.2rem;
    font-weight: 100;

    text-transform: uppercase;

    margin: 0;
}

h2 span{
    font: normal 1.7rem "Oranienbaum", serif;
}

a[hreflang="ja"]::after {
    content: " [en japonais]";
}

/*------------------------------------------------------------------------------
   Modules
------------------------------------------------------------------------------*/

/* INSÉREZ VOTRE CSS POUR CETTE SECTION ICI */





/*---------------------------------------
                header
 ---------------------------------------*/

/* INSÉREZ VOTRE CSS POUR CETTE SECTION ICI */

header, section{
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    text-align: center;
    position: relative;
}

header a{
    position: absolute;
    bottom: 40px;
    left: 50vw;
    transform: translateX(-50%);
}



/*---------------------------------------
                Section Générale
 ---------------------------------------*/

/* INSÉREZ VOTRE CSS POUR CETTE SECTION ICI */

section .boite{
    width: 800px;
    padding: 48px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;

    text-align: start; /* marche pas */
}

.sports .boite .images{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

section .boite .images a{
    width: 200px;
    text-align: center;
}

.sports .boite img{
    width: 100%;
    padding-bottom: 10px;
}



/*---------------------------------------
                Section sports
 ---------------------------------------*/

/* INSÉREZ VOTRE CSS POUR CETTE SECTION ICI */

section.sports{
    background-image: url(../images/fond/bicycles.png);

    background-attachment: fixed;
}



/*---------------------------------------
                Section web
 ---------------------------------------*/

/* INSÉREZ VOTRE CSS POUR CETTE SECTION ICI */

section.web{
    background-image: url(../images/fond/science.png);

    background-attachment: fixed;
}

.web img{
    width: 50%;
}

.web .images a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.web .images {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 50px;
}

.web .lien_float{
    background-color: darkred;
    padding: 10px;
    text-align: center;
}


/*---------------------------------------
             Section photographie
 ---------------------------------------*/

/* INSÉREZ VOTRE CSS POUR CETTE SECTION ICI */

section.photos{
    background-image: url(../images/fond/fond.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    background-attachment: fixed;
}

.photos img{
    width: 30%;
}

.photos .images a{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photos .images{
    display: grid;
    gap: 20px;
    justify-content: center;
}


/*---------------------------------------
    Icône retour
---------------------------------------*/